<div class="panel panel-primary" n:if="count($buildRequests)">
	<div class="panel-heading">
		<h3 class="panel-title">Poslední testovací sestavení</h3>
	</div>
	<div class="panel-body">
		<dl>
			{foreach $buildRequests as $buildRequest}
				<dt><span n:class="glyphicon, ! $buildRequest->failed ? glyphicon-ok, $buildRequest->failed ? glyphicon-exclamation-sign" aria-hidden="true"></span> <a href="{plink :DashBoard:BuildRequest:default $buildRequest->id}">{$buildRequest->repository->name}:{$buildRequest->branchName} ({$buildRequest->commit|substr:0,8})</a></dt>
				<dd n:if="$buildRequest->start">{$buildRequest->start|dateTime}</dd>
			{/foreach}
		</dl>
	</div>
</div>
