github:
    appId: ""
    appSecret: ""


dbal:
	driver: mysqli
	host: localhost
	user: ciserver
	password: ciserver
	dbname: ciserver
	connectionTz: '+02:00'


rabbitmq:
	connection:
		host: localhost
		port: 5672
		user: 'ciserver'
		password: 'ciserver'
		vhost: 'ciserver'
